<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmls:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lista de Projetos</title>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}" />
<link rel="icon" th:href="@{/img/favicon.png}">
<link rel="stylesheet" type="text/css" th:href="@{/DataTables/datatables.min.css/}" />

    
</head>

<body>
    <div class="container">
    	<div class="row align-items-center">
    	  <div class="table-wrapper">
    	  		<nav class="navbar navbar-default">
					<div class="container-fluid">
						<ul class="nav navbar-nav">
					    	<li ><a th:href="@{/usuario/adicionarUsuario}">Usuários</a></li>
					      	<li><a th:href="@{/OS/adicionarOrdem}">Ordens de Serviços</a></li>
					      	<li class="active"><a th:href="@{/projeto/adicionarProjeto}">Projetos</a></li>
					      	<!-- <li><a th:href="recursos.html">Recursos</a></li> -->
					    </ul>
					</div>
				</nav>
            <div class="table-title">
                <div class="row align-items-center">
                	<div class="col-sm-3">
						<img th:src="@{/img/logo.png}">
                    </div>
                    <div class="col-sm-4">
						<h2>Projetos</b></h2>
					</div>
					<div class="col-sm-9">
						<button href="#logout" type="button" class="btn btn-danger" data-toggle="modal">Sair</button>
						<a href="#addProjetoModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i>
						<span>Adicionar Projetos</span></a>
					</div>
                </div>
            </div>
            <table  id="table" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>  
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Local</th>
                        <th>Data Início</th>
						<th>Data Fim</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="proj:${projetos}">
						<td th:text="${proj.id}"></td>
						<td th:text="${proj.nome}"></td>
						<td th:text="${proj.descricao}"></td>
						<td th:text="${proj.local}"></td>
						<td th:text="${proj.dataInicio}"></td>
						<td th:text="${proj.dataFim}"></td>
						<td th:text="${proj.status}"></td>
						<td>
                            <a href="#editaProjetoModal" class="edit" data-toggle="modal" 
                            th:data-id="${proj.id}" th:data-nome="${proj.nome}" th:data-sobrenome="${proj.descricao}"
                			th:data-apelido="${proj.local}" th:data-telefone="${proj.dataInicio}"
               				th:data-status="${proj.dataFim}" th:data-senha="${proj.status}"
               				>
               				<!-- th:data-geojson="${proj.geojson}" -->
                                <i class="material-icons"  title="Editar">&#xE254;</i>
                             </a>
                            <a href="#deletaProjetoModal" class="delete" data-toggle="modal"
                            	th:data-id="${proj.id}" th:data-nome="${proj.nome}">
                            	<i class="material-icons" data-toggle="tooltip" title="Deletar">&#xE872;</i>
                            </a>
                        </td>  
						
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
	<div id="addProjetoModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form th:object="${projeto}" th:action="@{/projeto/salvarProjeto}" method="POST">
					<div class="modal-header">
						<h4 class="modal-title">Adicionar Projeto</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">				
					
						<div class="form-group">
							<label>Descrição</label>
							<input type="text" class="form-control" th:field="*{descricao}" autofocus="autofocus" required>
						</div>
						<div class="form-group">
							<label>Local</label>
							<input type="text" class="form-control" th:field="*{local}" autofocus="autofocus" required>
						</div>
						<div class="form-group">
							<label>Data Inicio</label>
							<input type="text" class="form-control" th:field="*{dataInicio}" autofocus="autofocus"  required>
						</div>
							<div class="form-group">
							<label>Data Fim</label>
							<input type="text" class="form-control" th:field="*{dataFim}" autofocus="autofocus"  required>
						</div>
						<div class="form-group">
							<label>Status</label> <select class="form-control" th:field="*{status}" autofocus="autofocus" id="exampleFormControlSelect1" required>
						    	<option value="1">Ativo</option>
						      	<option value="2">Inativo</option>
						    </select>	
						</div>					
					</div>
					<div class="modal-footer">
						<input th:href="@{/projeto/listarProjeto}" type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-success" value="Adicionar">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="editaProjetoModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form th:object="${projeto}" th:action="@{/projeto/alterarProjeto}" method="POST">
			
					<div class="modal-header">
						<h4 class="modal-title">Editar Projeto</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">	
					    <div class="form-group">
							<label>ID</label>
							<input type="text" class="form-control" th:field="*{id}"  th:id="idEditar" th:name="idEditar" autofocus="autofocus" placeholder="ID" Readonly="readonly">
						</div>				
						<div class="form-group">
							<label>Nome</label>
							<input type="text" class="form-control" th:field="*{nome}" th:id="nomeEditar" th:name="nomeEditar" autofocus="autofocus" placeholder="Nome" required>
						</div>
						<div class="form-group">
							<label>Descrição</label>
							<input type="text" class="form-control" th:field="*{descricao}" th:id="descricaoEditar" th:name="descricaoEditar"  autofocus="autofocus"  required>
						</div>
						<div class="form-group">
							<label>Local</label>
							<input type="text" class="form-control" th:field="*{local}" th:id="localEditar" th:name="localEditar"  autofocus="autofocus"  required>
						</div>
							<div class="form-group">
							<label>Data Inicio</label>
							<input type="text" class="form-control" th:field="*{dataInicio}" th:id="dtInicioEditar" th:name="dtIncioEditar"  autofocus="autofocus"  required>
						</div>
							<div class="form-group">
							<label>Data Fim</label>
							<input type="text" class="form-control" th:field="*{dataFim}" th:id="dtFimEditar" th:name="dtFimEditar"  autofocus="autofocus"  required>
						</div>
						<div class="form-group">
							<label>Status</label> <select name="Status"class="form-control" th:field="*{status}" autofocus="autofocus" id="statusEditar" required>
						    	<option value="1">Ativo</option>
						      	<option value="2">Inativo</option>
						    </select>	
						</div>						
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" th:href="@{/projeto/listarProjeto}" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-info" value="Salvar">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="deletaProjetoModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form th:action="@{/projeto/excluirProjetoPorId}" method="POST">
					<div class="modal-header">						
						<h4 class="modal-title">Deletar Projeto</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="form-group">
							<label>ID</label>
							<input type="hidden" class="form-control" th:id="idExcluir" th:name="idExcluir">
						</div>
					<div class="modal-body">					
						<p>Tem certeza que deseja deletar o usuário?</p>
						<p class="text-warning"><small>Essa ação não pode ser desfeita.</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" th:href="@{/projeto/listarProjeto}" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-danger" value="Deletar">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="logout" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<h4 class="modal-title">Sair</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Tem certeza que deseja sair?</p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" th:href="@{/ordemDeServico/listarOrdemDeServico}" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-danger" value="Sim">
					</div>
				</form>
			</div>
		</div>
	</div>								

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/DataTables/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/javascript.js}"></script>	
<script type="text/javascript">
        $(document).ready(function () {


            $('.delete').on('click', function () { //evento de clique na lixeira de deletar
                var id = $(this).attr('data-id');//id recebido sendo setado para a variavel userid
                console.log(id);
                $('#idExcluir').val(id);//objeto userid que esta em um imput hidden na modal deletar, está recebendo o valor da variavel userids			

            });

            $('.edit').on('click', function () {

                var id = $(this).attr('data-id');
                var nome = $(this).attr('data-nome');
                var sobrenome = $(this).attr('data-sobrenome');
                var apelido = $(this).attr('data-apelido');
                var telefone = $(this).attr('data-telefone');
                var status = $(this).attr('data-status');
                var senha = $(this).attr('data-senha');
               /*  var geojon = $(this).attr('data-geojson'); */

                console.log(nome);                

                $('#idEditar').val(id);
                $('#nomeEditar').val(nome);
                $('#descricaoEditar').val(sobrenome);
                $('#localEditar').val(apelido);
                $('#dtInicioEditar').val(telefone);
                $('#dtFimEditar').val(status);
               /*  $('#geojsonEditar').val(geojson); */
                
                $("#statusEditar option[value=" + status + "]").attr('selected', 'selected');
    	        

            });

        });
	</script> 

</body>
</html>
