<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lista de Recursos</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style2.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
	var checkbox = $('table tbody input[type="checkbox"]');
	$("#selectAll").click(function(){
		if(this.checked){
			checkbox.each(function(){
				this.checked = true;                        
			});
		} else{
			checkbox.each(function(){
				this.checked = false;                        
			});
		} 
	});
	checkbox.click(function(){
		if(!this.checked){
			$("#selectAll").prop("checked", false);
		}
	});
});
</script>
</head>
<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row align-items-center">
                	<div class="col-sm-3">
                		<img th:src="@{/img/img2_login.png}"> 
                    </div>
                    <div class="col-sm-4">
						<h2>Recursos</b></h2>
					</div>
					<div class="col-sm-9">
						<a href="#addRecursoModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Adicionar Recurso</span></a>						
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
						<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
						</th>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="rec : ${recursos}">
                    	<td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" value="1">
								<label for="checkbox1"></label>
							</span>	
						<td th:text="${rec.id}">Id</td>
						<td th:text="${rec.nome}">Nome</td>
						<td th:text="${rec.tipo}">Tipo</td>
						<td>
							<a href="#editaRecursoModal" class="edit"  data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                            <a href="#deletaRecursoModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Deletar">&#xE872;</i></a>
						</td>
					</tr>	
                </tbody>
            </table>
			<div class="clearfix">
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Anterior</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Próximo</a></li>
                </ul>
            </div>
        </div>
    </div>
	<div id="addRecursoModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form th:object="${recurso}" th:action="@{/recurso/salvarRecurso}" method="POST">
					<div class="modal-header">						
						<h4 class="modal-title">Adicionar Recurso</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>ID</label>
							<input type="text" class="form-control" name="id" autofocus="autofocus" placeholder="ID" required>
						</div>
						<div class="form-group">
							<label>Nome</label>
							<input type="text" class="form-control" autofocus="autofocus" placeholder="Nome" required>
						</div>
						<div class="form-group">
							<label>Tipo</label>
							<input type="text" class="form-control" autofocus="autofocus" placeholder="Tipo" required>
						</div>					
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" th:href="@{/recurso/listarRecurso}" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-success" value="Adicionar">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="editaRecursoModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form th:object="${recurso}" th:action="@{/recurso/alterarRecurso}">
					<div class="modal-header">						
						<h4 class="modal-title">Editar Recurso</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>ID</label>
							<input type="text" class="form-control" th:field="*{id}" autofocus="autofocus" placeholder="ID"  Readonly="readonly">
						</div>
						<div class="form-group">
							<label>Nome</label>
							<input type="text" class="form-control" th:field="*{nome}" autofocus="autofocus" placeholder="Nome" required>
						</div>
						<div class="form-group">
							<label>Tipo</label>
							<input type="text" class="form-control" th:field="*{tipo}" autofocus="autofocus" placeholder="Tipo" required>
						</div>			
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" th:href="@{/recurso/listarRecurso}" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-info" value="Salvar">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="deletaRecursoModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Deletar Recurso</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Você tem certeza que deseja deletar o recurso?</p>
						<p class="text-warning"><small>Essa ação não pode ser desfeita.</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" th:href="@{/recurso/listarRecurso}" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-danger" th:href="@{/recurso/excluirRecurso/{id}(id=${recusro.id})}" value="Deletar">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>